@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.opaque-bg{
    background: rgba(52, 35, 34, 0.2);
    text-align: center;
    max-width: 100%;
    padding: 0;

}

.jumbotron {
    width: 100%;
    font-family: 'Dancing Script', cursive;
    background-color: #644117;
    background-image: url("img/brownpatter.jpeg");
    background-size: cover;
    border-bottom: 10px solid #887226;
    padding: 0;
}

#javacup {
    height: 200px;
    width: auto;
    display: inline-block;
    position: relative;
    padding-left: 335px;
}
.coffee-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;

    /*goldenrod with light mocha outline*/
    color: goldenrod;
    text-shadow: 2px 2px #7e7a7a;

    /*white with light outline*/
    /*text-shadow: 2px 2px #918e8e;*/

    /*goldenrod with dark outline*/
    /*color: goldenrod;*/
    /*text-shadow: 2px 2px #261e18;*/

    /*brown with white-ish outline*/
    /*text-shadow: 2px 2px #98908b;*/
    /*color: #302118;*/
}
body {
    font-family: 'Open Sans', sans-serif;
    background-image: url("img/java.jpg");
    background-size: contain;
    border-top: 10px solid #887226;
    color: white;
}
.coffeeTitle {
    padding-bottom: 25px;
}
.allTheCoffees , .addCoffeee , .chooseCoffee {
    background: rgba(47, 34, 34, 0.7);
    padding: 10px;
    margin: 20px 60px 20px 60px;
    border-color: #6b5f5f;
    box-shadow:  5px 10px #3c2f2f;
}

#submit , #submit2 {
    margin-top: 10px;
    /*background-color: #644117;*/
    background-color: #8c654c;
    color: whitesmoke;
    font-weight: bold;
    /*border-color: #6b5f5f;*/
    border-color: #3b352f;
    box-shadow: 1px 2px #3c2f2f;
}

form {
    max-width: 75%;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 160px;
}

.allTheCoffees {
    padding-left: 20px;
}
